/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Sep 2021, 4:16:18 pm
    Author     : benny
*/


.sectiontitle{
    text-decoration: underline;
}

.carousel-inner{
    max-height: 600px;
    background: #777;
    position: relative;
    background-position: center;
    background-size:cover;
    height: auto;
}
.fill{
  width: 100%;
  height:500px !important;
  background-position:center
  ;background-size:cover;
 }

.card img{
    display: inline-block;
    max-width:350px;
    max-height:202px;
    width: auto;
    height: auto;
}	
.logo img{
    height: auto;
    max-height: 200px;
}
.producttitle{
    font-family: Georgia, serif;
}
.producttitle1{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: red;
    text-align: center;
}

.producttitle1{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: red;
    text-align: center;
}

.producttitle2{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: orange;
    text-align: center;
}

.producttitle3{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: greenyellow;
    text-align: center;
}

.producttitle4{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: limegreen;
    text-align: center;
}

.producttitle5{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: blue;
    text-align: center;
}

.product-name{
    text-align: center;
    color: mediumvioletred;
    font-family: 'Brush Script MT';
}

.embed-responsive .card-img-top {
    object-fit: cover;
}
/*
figure{
    display:inline-block;
    position:relative;
    top: 0;
    left: 0;
}*/

figcaption{
    color: black;
    font-style: italic; 
    text-align: center; 
}
.mapouter{
    margin-left: auto;
    margin-right: auto;
}


.fl{
     float: right; 
}

.space{
    margin:40px;
}

.jumbotron{
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-custom{
    background-color: #B7CAE3;

.name1{
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}


.image-name{
    color: grey;
    font-style: italic; 
    justify-content: center; 
}



}
.navbar .nav-link{
        color: #000000;
}

body{
    background-color: whitesmoke;
    color: #020202;
}

a:hover{
    color: black;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar2 {
  vertical-align: middle;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.about_section {
 width:100%;
 float:left;
}
.about_text {
 width:60%;
 float:left;
 font-size:20pt;
 color:#1c6aec;
 text-align:left;
 padding-left:30px;
 position:absolute;
 padding-top:50px
}
.about_img {
 width:100%;
 float:left;
 position:relative;
 top:-30px;
}
.about_middle {
 width:70%;
 margin:0 auto;
 text-align:center;
 position:ABSOLUTE;
 background-image:url(../images/white_bg.png);
 height:auto;
 margin-top:340px;
 margin-left:60px
}
.about_info {
 width:100%;
 float:left;
 font-size:14px;
 color:#18191a;
 text-align:left;
 padding-right:30px
}
.footer_section {
 width:100%;
 float:left;
 background-color: #051148;
 height:auto;
 padding-bottom:70px;
 margin-top:90px;
}
.important_text {
 width:100%;
 float:left;
 font-size:26px;
 color:#fff;
 font-weight:bold;
 text-align: center;
}
.footer_menu {
 width:100%;
 float:left;
 text-align: center;
}
.footer_menu ul {
 margin:0;
 padding:0;
 list-style-type: none;
}
.footer_menu li {
 font-size:14px;
 color:#fff;
}
.footer_menu li a {
 color:#fff;
}
.footer_menu li a:hover {
 color:#ff7e1d;
}
.test1{
    text-align: center;
}















