/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Sep 2021, 4:16:18 pm
    Author     : benny
*/


.sectiontitle{
    text-decoration: underline;
}

img {
    max-width:100%;
    height:auto;
}
.fill{
    width: 100%;
    height:auto;
    background-position:center;
    ;background-size:cover;
}

.card img{
    display: inline-block;
    max-width:350px;
    max-height:202px;
    width: auto;
    height: auto;
}	

.logo img{
    height: auto;
    max-height: 200px;
}

.producttitle{
    font-family: Georgia, serif;
}

.producttitle1{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: red;
    text-align: center;
}

.producttitle1{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: red;
    text-align: center;
}

.producttitle2{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: orange;
    text-align: center;
}

.producttitle3{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: greenyellow;
    text-align: center;
}

.producttitle4{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: limegreen;
    text-align: center;
}

.producttitle5{
    font-family: 'Brush Script MT';
    font-size: 60px;
    color: blue;
    text-align: center;
}

.product-name{
    text-align: center;
    color: mediumvioletred;
    font-family: 'Brush Script MT';
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

figcaption{
    color: black;
    font-style: italic; 
    text-align: center; 
}
.mapouter{
    margin-left: auto;
    margin-right: auto;
}


.fl{
    float: right; 
}

.space{
    margin:40px;
}

.jumbotron{
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-custom{
    background-color: #B7CAE3;

    .name1{
    }

    .wrapper{
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }


    .image-name{
        color: grey;
        font-style: italic; 
        justify-content: center; 
    }



}
.navbar .nav-link{
    color: #000000;
}

body{
    background-color: whitesmoke;
    color: #020202;
}

a:hover{
    color: black;
}

.avatar {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.avatar2 {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/*
.about_section {
 width:100%;
 float:left;
}
.about_text {
 width:60%;
 float:left;
 font-size:20pt;
 color:#1c6aec;
 text-align:left;
 padding-left:30px;
 position:absolute;
 padding-top:50px;
}
.about_img {
 width:100%;
 float:left;
 position:relative;
 top:-1rem;
}
.about_middle {
 width:70%;
 margin:0 auto;
 text-align:center;
 position:ABSOLUTE;
 background-image:url(../images/white_bg.png);
 height:auto;
 margin-top:10rem;
 margin-left:2rem;
}
.about_info {
 width:100%;
 float:left;
 font-size:14px;
 color:#18191a;
 text-align:left;
 padding-right:30px;
}
.about_btn{
 width: 100%;
 float: left;
 position: relative;
 top: -24rem;
}
.read_more{
 width:18%;
 margin-left:2rem;
 text-align:center;
 color:#fff;
 background-color:#1c6aec;
 height:3rem;
 display:block;
 font-size:20px;
}

.footer_section {
    width:100%;
    float:left;
    background-color: #051148;
    height:auto;
    padding-bottom:3rem;
    margin-top:3rem;
    text-align: center;
    vertical-align: top;
}
.important_text {
    width:100%;
    float:left;
    font-size:26px;
    color:#fff;
    font-weight:bold;
    text-align: left;
}
.footer_menu {
    width:100%;
    float:left;
    text-align: left;
}
@media (max-device-width: 600px) {
    .footer_section {
        text-align: left !important;
    }
}
.footer_menu ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
.footer_menu li {
    font-size:14px;
    color:#fff;
}
.footer_menu li a {
    color:#fff;
}
.footer_menu li a:hover {
    color:#ff7e1d;
}
.test1{
    text-align: center;
}
.copyright_text{
    padding-top: 3rem;
    text-align: center;
    color:#fff;
}*/
.material-icons{
    vertical-align: middle;
}



/*new stuff*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
html,body {
    height:100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.navbar{
    padding: .4rem;
}
.nav-link{
    font-size:1.1em !important;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 10%;
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 13px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook-official{
    color: #3b5998;
}
.fa-youtube-play{
    color: #bb0000;
}
.fa-instagram{
    color: #517fa4;
}
.fa-twitter-square{
    color: #00aced;
}

.fa-facebook-official:hover,
.fa-youtube-play:hover,
.fa-instagram:hover,
.fa-twitter-square:hover{
    color: #d6d6d6;
}

footer {
    background: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    
}
footer a{
    color: #d5d5d5;
}
hr.light_full{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}




@media (max-width: 992px){
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px){
    .carousel-caption{
        top: 5%;
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 135%;
        font-weight: 300;
        padding-bottom: .2rem;
    }
    .display-4{
        font-size: 200%;
    }
    .social a{
        font-size: 2.4em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px){
    .carousel-caption{
        top: 5%;
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size: 150%;
    }
    .social a{
        font-size: 1.9em;
        padding: 0.6rem;
    }
}
